<!DOCTYPE html>
<html>
<head>
	<title>Friend's List</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"> </script> 
	<link rel="stylesheet" type="text/css" href="/static/css/friendslist.css">
</head>
<body>
	<ul id= sidebar>
  		<li><a href="/newsfeed">Home</a></li>
  		<li><a href="/bucketlist">Profile</a></li>
  		<li><a href="/friends">Friends</a></li>
    	<li><a href="/messages">Messages</a></li>
    	<li><a href="/explore">Explore</a></li>
		<li><a href="/login">Sign Out</a></li>
	</ul>
	<h1 id = 'webBanner'>
			<img id= banner src='//img.haozhaopian.net/share/1470169575269NEI.jpg' />
	</h1>
				<img src="static/images/adam.gif">
					<img src="static/images/jocelyn_m.png">
						<img src="static/images/kevin.gif">
							<img src="static/images/jennifer.gif">
								<img src="static/images/salvador.gif">
									<img src="static/images/amor.png">
										<img src="static/images/gif copy.gif">
											<img src="static/images/dante.gif">
												<img src="static/images/riya.gif">
													<img src="static/images/julia.gif">
															<img src="static/images/androidify-1465097334994.gif">
																<img src="static/images/jacquelene.gif">
																	<img src="static/images/kyle.gif">
																		<img src="static/images/daniel.gif">
																	<img src="static/images/emily.gif">
																<img src="static/images/sisco.gif">
															<img src="static/images/lucy.gif">
													<img src="static/images/angie.gif">
												<img src="static/images/jordan.gif">
											<img src="static/images/alex.gif">
										<img src="static/images/jocelyn.gif">
									<img src="static/images/tate.gif">
								<img src="static/images/doug.gif">
							<img src="static/images/alem.gif">
						
				<img src="static/images/hayley.gif">
			<img src="static/images/roger.gif">
		<img src="static/images/gif.gif">
		<img src="static/images/hikerjessie.gif">
		</h1>
</body>
</html>