<!DOCTYPE html>

<html>
<head>
	<title>News Feed </title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"> </script> 
	<link rel="stylesheet" type="text/css" href="/static/css/newsfeed.css">

</head>
<body>

	<ul id= sidebar>
  		<li><a href="/">Home</a></li>
  		<li><a href="/bucketlist">Profile</a></li>
  		<li><a href="/friends">Friends</a></li>
    	<li><a href="/messages">Messages</a></li>
    	<li><a href="/explore">Explore</a></li>
		<li><a href="/login">Sign Out</a></li>
	</ul>
		<h1 id = 'webBanner'>
			<img id= banner src='//img.haozhaopian.net/share/1470169575269NEI.jpg' border="400" />
		</h1>
		<div id= skydiving>
			<h2><a href="http://www.conservationinstitute.org/10-beautiful-mountains-world/">Spectacular Mountains<a></h2>
				<img src="static/images/skydiving.jpg" alt="Mountain View" style="width:304px;height:228px;">
		</div>
		<div id= vacation >
			<h3><a href="https://www.homeaway.com/info/travelers/travel-ideas/best-of"> Great Vacation Options</a></h3>
				<img src="static/images/vacation.jpeg" alt="Vacation Spots"
				style="width:304px;height:228px">
		</div>
		<div id= game>
			<h2><a href="http://n4g.com/">What's New</a></h2>
				<img src="static/images/pokemon.png"
				style="width:304px;height:228px">
</body>
</html>