<!DOCTYPE>
<html>
  <head>
    <title>Bucket List Registration</title>
    <link rel="stylesheet" type="text/css" href="/static/css/registration.css">
    
  </head>

  <body background="/static/images/registration_back.png">
    <h1 id = 'webBanner'>
        <img src='//img.haozhaopian.net/share/1470169575269NEI.jpg' />
    </h1>
    <h2>Welcome to BucketList</h2>
    <form method="post" action ="">
         <h3>Enter a Username: <input type="text" name="noun1"/></h3>
         <h3>Password: <input type="text" name="Password"/></h3>
         <h3>Email Address: </h3>
         <input type="text" name="email"> 
         </h3>
     <br>
     
         
        <p><input type="submit" value="Submit"></p>
 </form>
  </body>
