<!DOCTYPE>
<html>
  <head>
    <title>Bucket List Registration</title>
    <link rel="stylesheet" type="text/css" href="/static/css/registration.css">
    
  </head>

  <body background='http://bit.ly/1CWxJe6 '>
    <h1 id = 'webBanner'>
        <img src='//img.haozhaopian.net/share/1470169575269NEI.jpg' />
    </h1>
    <div class="login">
        <div class="heading">
        <h3> Sign up! </h3>
        <form method="post" action ="">
             
             <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" name = "noun1" class="form-control" placeholder="Username">
                </div>
             
             <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="icon-envelope "></i></span>
                <input type="text" name = "email" class="form-control" placeholder="Email">
                </div>
          <!--   <h3>Date of Birth:  <input type="text" name="birthday"> </h3>-->
         
             <button type="submit" class="float">Register</button>
         </form>
        </div>
    </div>
  </body>
