
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

#sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 12%;
    background-color: #ccd7ec;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    border: solid;
}

.active {
    background-color: #4CAF50;
    color: white;
}

li a {
    text-align: center;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: solid
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

li:last-child {
    border-bottom: none;
}

#webBanner{
	text-align: center;
	margin-left: 150px;

}

#user_title {
	text-align: center;
	background: transparent;
	margin-left: 16px

}

#sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#bucketList{
	background: url(http://bit.ly/2aTzcAl);
	margin-left: 400px;
	margin-right: 250px;
}

#add{
    margin-bottom: 15px;
    margin-left: 380px;
}


#check_item{
    text-align: center;
}

#item{
    position: absolute;
    margin-left: 313px
}

#profile_img{
overflow: hidden;
border:solid 5px white;
width: 120px;
height: 120px;
text-align: center;
margin-left: 725px;
position: relative;

}

#name{
    text-align: center;
    font-weight: bold;
    margin-left: 165px;
    margin-top: 20px;
    font-size: x-large;
}







